In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('E:\Data Cleaning\Airbnb\Airbnb_Open_Data.csv')
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\might\AppData\Local\Temp\ipykernel_13232\1873388596.py:1: SyntaxWarning: invalid escape sequence '\D'
  df=pd.read_csv('E:\Data Cleaning\Airbnb\Airbnb_Open_Data.csv')
C:\Users\might\AppData\Local\Temp\ipykernel_13232\1873388596.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('E:\Data Cleaning\Airbnb\Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

# To do list 
#### 1. Deleting redundant Columns
#### 2. Renaming the columns
#### 4. Removing duplicates
#### 5. Remove the NaN values from the Dataset
#### 6. Fill null values with suitable values
#### 7. Check for some more transformation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [4]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [5]:
df.shape

(102599, 26)

## DELETING REDUNDANT COLUMNS

In [6]:
df.drop(['last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'], axis=1 , inplace=True)

In [7]:
df.shape

(102599, 19)

## RENAMING COLUMNS

In [8]:
new_columns_name = []
for i in df.columns:
    new_columns_name.append(i.upper())

In [9]:
new_columns_name

['ID',
 'NAME',
 'HOST ID',
 'HOST_IDENTITY_VERIFIED',
 'HOST NAME',
 'NEIGHBOURHOOD GROUP',
 'NEIGHBOURHOOD',
 'LAT',
 'LONG',
 'COUNTRY',
 'COUNTRY CODE',
 'INSTANT_BOOKABLE',
 'CANCELLATION_POLICY',
 'ROOM TYPE',
 'CONSTRUCTION YEAR',
 'PRICE',
 'SERVICE FEE',
 'MINIMUM NIGHTS',
 'NUMBER OF REVIEWS']

In [10]:
df.columns=new_columns_name
df.columns

Index(['ID', 'NAME', 'HOST ID', 'HOST_IDENTITY_VERIFIED', 'HOST NAME',
       'NEIGHBOURHOOD GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM TYPE',
       'CONSTRUCTION YEAR', 'PRICE', 'SERVICE FEE', 'MINIMUM NIGHTS',
       'NUMBER OF REVIEWS'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace('_',' ')
df.columns

Index(['ID', 'NAME', 'HOST ID', 'HOST IDENTITY VERIFIED', 'HOST NAME',
       'NEIGHBOURHOOD GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY CODE', 'INSTANT BOOKABLE', 'CANCELLATION POLICY', 'ROOM TYPE',
       'CONSTRUCTION YEAR', 'PRICE', 'SERVICE FEE', 'MINIMUM NIGHTS',
       'NUMBER OF REVIEWS'],
      dtype='object')

In [12]:
df.duplicated().sum()

np.int64(541)

## REMOVING DUPLICATES

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df

,ID,NAME,HOST ID,HOST IDENTITY VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT BOOKABLE,CANCELLATION POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS,NUMBER OF REVIEWS
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,$966,$193,10.0,9.0
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,$142,$28,30.0,45.0
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,US,True,flexible,Private room,2005.0,$620,$124,3.0,0.0
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire home/apt,2005.0,$368,$74,30.0,270.0
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,$204,$41,10.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,US,True,moderate,Private room,NaN,$696,NaN,7.0,12.0
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,US,False,flexible,Private room,NaN,$909,NaN,1.0,19.0
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,True,moderate,Entire home/apt,NaN,$387,NaN,2.0,50.0
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,US,True,strict,Private room,NaN,$848,NaN,2.0,0.0
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,False,flexible,Entire home/apt,2011.0,"$1,128",NaN,4.0,22.0

## REMOVING NaN OR N/a VALUES

In [15]:
df.isna().sum()

ID                          0
NAME                      250
HOST ID                     0
HOST IDENTITY VERIFIED    289
HOST NAME                 404
NEIGHBOURHOOD GROUP        29
NEIGHBOURHOOD              16
LAT                         8
LONG                        8
COUNTRY                   532
COUNTRY CODE              131
INSTANT BOOKABLE          105
CANCELLATION POLICY        76
ROOM TYPE                   0
CONSTRUCTION YEAR         214
PRICE                     247
SERVICE FEE               273
MINIMUM NIGHTS            400
NUMBER OF REVIEWS         183
dtype: int64

In [16]:
df.dropna(subset=['NAME'], inplace=True)
df.dropna(subset=['HOST IDENTITY VERIFIED'], inplace=True)
df.dropna(subset=['HOST NAME'], inplace=True)
df.dropna(subset=['NEIGHBOURHOOD GROUP'], inplace=True)
df.dropna(subset=['NEIGHBOURHOOD'], inplace=True)
df.dropna(subset=['COUNTRY'], inplace=True)
df.dropna(subset=['LAT','LONG','COUNTRY CODE','INSTANT BOOKABLE','CONSTRUCTION YEAR'], inplace=True)

In [17]:
df.isna().sum()

ID                          0
NAME                        0
HOST ID                     0
HOST IDENTITY VERIFIED      0
HOST NAME                   0
NEIGHBOURHOOD GROUP         0
NEIGHBOURHOOD               0
LAT                         0
LONG                        0
COUNTRY                     0
COUNTRY CODE                0
INSTANT BOOKABLE            0
CANCELLATION POLICY         0
ROOM TYPE                   0
CONSTRUCTION YEAR           0
PRICE                     225
SERVICE FEE               258
MINIMUM NIGHTS            374
NUMBER OF REVIEWS         181
dtype: int64

## FILLING NaN VALUES WITH SUITABLE VALUES

In [18]:
df.dtypes

ID                          int64
NAME                       object
HOST ID                     int64
HOST IDENTITY VERIFIED     object
HOST NAME                  object
NEIGHBOURHOOD GROUP        object
NEIGHBOURHOOD              object
LAT                       float64
LONG                      float64
COUNTRY                    object
COUNTRY CODE               object
INSTANT BOOKABLE           object
CANCELLATION POLICY        object
ROOM TYPE                  object
CONSTRUCTION YEAR         float64
PRICE                      object
SERVICE FEE                object
MINIMUM NIGHTS            float64
NUMBER OF REVIEWS         float64
dtype: object

In [19]:
# THE PRICE HAD SYMBOLS LIKE $966 (DOLLAR) AND $1,060 (COMA)
df['PRICE'] = df['PRICE'].str.replace('[^0-9]', '', regex=True)

In [20]:
# CHANGING THE DATATYPE TO PERFORM STATISTICAL ACTIONS
df['PRICE'] = df['PRICE'].astype(float)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100350 entries, 0 to 102057
Data columns (total 19 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      100350 non-null  int64
 1   NAME                    100350 non-null  object
 2   HOST ID                 100350 non-null  int64
 3   HOST IDENTITY VERIFIED  100350 non-null  object
 4   HOST NAME               100350 non-null  object
 5   NEIGHBOURHOOD GROUP     100350 non-null  object
 6   NEIGHBOURHOOD           100350 non-null  object
 7   LAT                     100350 non-null  float64
 8   LONG                    100350 non-null  float64
 9   COUNTRY                 100350 non-null  object
 10  COUNTRY CODE            100350 non-null  object
 11  INSTANT BOOKABLE        100350 non-null  object
 12  CANCELLATION POLICY     100350 non-null  object
 13  ROOM TYPE               100350 non-null  object
 14  CONSTRUCTION YEAR       100350 non-null  float64
 15  PRICE                   100125 non-null  float64
 16  SERVICE FEE             100092 non-null  object
 17  MINIMUM NIGHTS          99976 non-null   float64
 18  NUMBER OF REVIEWS       100169 non-null  float64
dtypes: float64(6), int64(2), object(11)
memory usage: 15.3+ MB

In [22]:
df['PRICE'].fillna(df['PRICE'].mean(), inplace=True)

C:\Users\might\AppData\Local\Temp\ipykernel_13232\1869850101.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PRICE'].fillna(df['PRICE'].mean(), inplace=True)

In [23]:
df.drop(columns='NUMBER OF REVIEWS', inplace=True)

In [24]:
df['SERVICE FEE'] = df['SERVICE FEE'].str.replace('[^0-9]','', regex=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100350 entries, 0 to 102057
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      100350 non-null  int64
 1   NAME                    100350 non-null  object
 2   HOST ID                 100350 non-null  int64
 3   HOST IDENTITY VERIFIED  100350 non-null  object
 4   HOST NAME               100350 non-null  object
 5   NEIGHBOURHOOD GROUP     100350 non-null  object
 6   NEIGHBOURHOOD           100350 non-null  object
 7   LAT                     100350 non-null  float64
 8   LONG                    100350 non-null  float64
 9   COUNTRY                 100350 non-null  object
 10  COUNTRY CODE            100350 non-null  object
 11  INSTANT BOOKABLE        100350 non-null  object
 12  CANCELLATION POLICY     100350 non-null  object
 13  ROOM TYPE               100350 non-null  object
 14  CONSTRUCTION YEAR       100350 non-null  float64
 15  PRICE                   100350 non-null  float64
 16  SERVICE FEE             100092 non-null  object
 17  MINIMUM NIGHTS          99976 non-null   float64
dtypes: float64(5), int64(2), object(11)
memory usage: 14.5+ MB

In [26]:
df['SERVICE FEE'] = df['SERVICE FEE'].astype(float)

In [27]:
df.dtypes

ID                          int64
NAME                       object
HOST ID                     int64
HOST IDENTITY VERIFIED     object
HOST NAME                  object
NEIGHBOURHOOD GROUP        object
NEIGHBOURHOOD              object
LAT                       float64
LONG                      float64
COUNTRY                    object
COUNTRY CODE               object
INSTANT BOOKABLE           object
CANCELLATION POLICY        object
ROOM TYPE                  object
CONSTRUCTION YEAR         float64
PRICE                     float64
SERVICE FEE               float64
MINIMUM NIGHTS            float64
dtype: object

In [28]:
df['SERVICE FEE'].fillna(df['SERVICE FEE'].mean(), inplace=True)

C:\Users\might\AppData\Local\Temp\ipykernel_13232\3834073808.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SERVICE FEE'].fillna(df['SERVICE FEE'].mean(), inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100350 entries, 0 to 102057
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      100350 non-null  int64
 1   NAME                    100350 non-null  object
 2   HOST ID                 100350 non-null  int64
 3   HOST IDENTITY VERIFIED  100350 non-null  object
 4   HOST NAME               100350 non-null  object
 5   NEIGHBOURHOOD GROUP     100350 non-null  object
 6   NEIGHBOURHOOD           100350 non-null  object
 7   LAT                     100350 non-null  float64
 8   LONG                    100350 non-null  float64
 9   COUNTRY                 100350 non-null  object
 10  COUNTRY CODE            100350 non-null  object
 11  INSTANT BOOKABLE        100350 non-null  object
 12  CANCELLATION POLICY     100350 non-null  object
 13  ROOM TYPE               100350 non-null  object
 14  CONSTRUCTION YEAR       100350 non-null  float64
 15  PRICE                   100350 non-null  float64
 16  SERVICE FEE             100350 non-null  float64
 17  MINIMUM NIGHTS          99976 non-null   float64
dtypes: float64(6), int64(2), object(10)
memory usage: 14.5+ MB

In [30]:
df['MINIMUM NIGHTS'] =  df['MINIMUM NIGHTS'].fillna(df['MINIMUM NIGHTS'].mode().iloc[0])

In [31]:
df['MINIMUM NIGHTS'] = df['MINIMUM NIGHTS'].astype(int)

## CHECK FOR SOME MORE TRANSFORMATION

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100350 entries, 0 to 102057
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   ID                      100350 non-null  int64
 1   NAME                    100350 non-null  object
 2   HOST ID                 100350 non-null  int64
 3   HOST IDENTITY VERIFIED  100350 non-null  object
 4   HOST NAME               100350 non-null  object
 5   NEIGHBOURHOOD GROUP     100350 non-null  object
 6   NEIGHBOURHOOD           100350 non-null  object
 7   LAT                     100350 non-null  float64
 8   LONG                    100350 non-null  float64
 9   COUNTRY                 100350 non-null  object
 10  COUNTRY CODE            100350 non-null  object
 11  INSTANT BOOKABLE        100350 non-null  object
 12  CANCELLATION POLICY     100350 non-null  object
 13  ROOM TYPE               100350 non-null  object
 14  CONSTRUCTION YEAR       100350 non-null  float64
 15  PRICE                   100350 non-null  float64
 16  SERVICE FEE             100350 non-null  float64
 17  MINIMUM NIGHTS          100350 non-null  int64
dtypes: float64(5), int64(3), object(10)
memory usage: 14.5+ MB

In [33]:
df.head()

,ID,NAME,HOST ID,HOST IDENTITY VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT BOOKABLE,CANCELLATION POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,966.0,193.0,10
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,142.0,28.0,30
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,204.0,41.0,10
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,577.0,115.0,3
7,1005202,BlissArtsSpace!,90821839709,unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,1060.0,212.0,45

In [34]:
df['HOST IDENTITY VERIFIED'] = df['HOST IDENTITY VERIFIED'].str.upper()

In [35]:
df.head()

,ID,NAME,HOST ID,HOST IDENTITY VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT BOOKABLE,CANCELLATION POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS
0,1001254,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,strict,Private room,2020.0,966.0,193.0,10
1,1002102,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire home/apt,2007.0,142.0,28.0,30
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire home/apt,2009.0,204.0,41.0,10
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,flexible,Entire home/apt,2013.0,577.0,115.0,3
7,1005202,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private room,2009.0,1060.0,212.0,45

In [36]:
df.dtypes

ID                          int64
NAME                       object
HOST ID                     int64
HOST IDENTITY VERIFIED     object
HOST NAME                  object
NEIGHBOURHOOD GROUP        object
NEIGHBOURHOOD              object
LAT                       float64
LONG                      float64
COUNTRY                    object
COUNTRY CODE               object
INSTANT BOOKABLE           object
CANCELLATION POLICY        object
ROOM TYPE                  object
CONSTRUCTION YEAR         float64
PRICE                     float64
SERVICE FEE               float64
MINIMUM NIGHTS              int64
dtype: object

In [37]:
print(df['INSTANT BOOKABLE'].unique())

[False True]

In [38]:
df['INSTANT BOOKABLE'] = df['INSTANT BOOKABLE'].astype(int)

In [39]:
df

,ID,NAME,HOST ID,HOST IDENTITY VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT BOOKABLE,CANCELLATION POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS
0,1001254,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,966.000000,193.000000,10
1,1002102,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,142.000000,28.000000,30
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,204.000000,41.000000,10
5,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013.0,577.000000,115.000000,3
7,1005202,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,1060.000000,212.000000,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102038,57356923,HUGE BEDROOM LORIMER L TRAIN!!!,29320426760,UNCONFIRMED,Jose,Brooklyn,Williamsburg,40.71355,-73.95003,United States,US,1,flexible,Private room,2016.0,570.000000,125.069116,28
102039,57357476,Spacious two bedrooms condo in upper Manhattan,14430571516,VERIFIED,Max,Manhattan,Inwood,40.86461,-73.92363,United States,US,1,moderate,Entire home/apt,2003.0,665.000000,125.069116,2
102040,57358028,"Room in Queens, NY, near LGA.",56457739998,VERIFIED,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,1,strict,Private room,2022.0,982.000000,196.000000,1
102050,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,UNCONFIRMED,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,United States,US,0,moderate,Entire home/apt,2016.0,625.489918,125.069116,2
102057,57367417,Rosalee Stewart,93578954226,VERIFIED,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,US,0,flexible,Entire home/apt,2011.0,1128.000000,125.069116,4

In [40]:
df.reset_index(drop=True,inplace=True)

In [41]:
df['PRICE'] = df['PRICE'].astype(int)
df['SERVICE FEE'] = df['SERVICE FEE'].astype(int)
df['CONSTRUCTION YEAR'] = df['CONSTRUCTION YEAR'].astype(int)

In [42]:
df.head()

,ID,NAME,HOST ID,HOST IDENTITY VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT BOOKABLE,CANCELLATION POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS
0,1001254,Clean & quiet apt home by the park,80014485718,UNCONFIRMED,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020,966,193,10
1,1002102,Skylit Midtown Castle,52335172823,VERIFIED,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007,142,28,30
2,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,VERIFIED,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009,204,41,10
3,1004098,Large Cozy 1 BR Apartment In Midtown East,45498551794,VERIFIED,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,1,flexible,Entire home/apt,2013,577,115,3
4,1005202,BlissArtsSpace!,90821839709,UNCONFIRMED,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009,1060,212,45

In [43]:
df.to_csv('Cleaned Data.csv', index=False)